react
react-dom
react-router-dom
typescript
vite
@vitejs/plugin-react
eslint
eslint-config-prettier
eslint-plugin-react
eslint-plugin-react-hooks
eslint-plugin-jsx-a11y
tailwindcss
postcss
autoprefixer
@types/react
@types/react-dom
@types/react-router-dom
